@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
    background-color: #ff8000;
}

.main-header {
    
}

.header-container {
    display:flex;
    flex-direction: column;
}
.col {
    background-color: #ff8000;
    min-height: 30vh;
    color: white;
    border: 1px solid gray;
}

.input {
    width: 30%;
    border: none;
}

.bg-orange {
    background-color: #ff8000;
}
/* .navbar {
    background-color: #ff8000;
} */

h1 {
    color: white;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: bold;
    font-size: 3.0em;
    
}

h2 {
    color: white;
    text-align: center;
    /* font-weight: bold; */
}


