.col {
    background-color: #ff8000;
    min-height: 30vh;
    color: white;
    border: 1px solid gray;
}

.col-12 {
    background-color: #ff8000;
    min-height: 30vh;
    color: white;
    border: 1px solid gray;
}

.bg-orange {
    background-color: #ff8000;
}
/* .navbar {
    background-color: #ff8000;
} */